.hero-inner {
    &.section-inner {
        display: flex;
        padding-left: 25px;
        padding-right: 25px;
    }
    // Affects only hero full
    > .hero-content {
        padding-left: 25px;
        padding-right: 25px;
        width: 50%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    > .hero-image {
        padding-left: 25px;
        padding-right: 25px;
        width: 50%;
        display: flex;
        justify-content: center;
        > img {
            width: 100%;
            height: auto;
            max-width: 827px;
            max-height: 574px;
        }
    }
    // > .hero-figure {

    // 	> a {
    // 		display: inline-flex;
    // 		// prevents stretching
    // 		align-items: center;
    // 		vertical-align: top;
    // 	}
    // }
}
