.testimonial-message {
    display: none;
}

.rating-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    .rating-question {
        margin-bottom: 5;
    }

    .rating-scale {
        display: flex;

        button {
            background-color: #fff;
            width: 24px;
            height: 24px;
            // color: #000;
            // border: solid 3px;

            // &.selected {
            //     color: #fff;
            //     background-color: #000;
            // }
        }
    }
}
