.testimonial-message {
    display: none;
}

.rating-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    .rating-question {
        margin-bottom: 5;
    }

    .rating-scale {
        display: flex;

        button {
            background-color: #fff;
            border: none;
            width: 48px;
            height: 48px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(https://sajadghawami.github.io/recscout-homepage/public/assets/images/rating/star_empty.png);
            // color: #000;
            // border: solid 3px;

            &.selected {
                background-image: url(https://sajadghawami.github.io/recscout-homepage/public/assets/images/rating/star_filled.png);
            }
        }
    }
}
