/* this is directly injected into the page */

/* show the underline for both */
#privacy_link,
#terms_link {
    text-decoration: underline;
}

/* general pages*/
/* helper css */
.display-none {
    display: none !important;
}

/* notifications */
.ajax-notice,
.ajax-warning,
.flash-notice,
.flash-warning,
.ajax-update-notice {
    background: #79d1c3;
    color: #fff;
}

/* this is for the about pages */
.left-navi {
    display: none;
}
.left-navi-section.about-section {
    width: 100%;
    margin-left: 0;
}

.button.search-button {
    color: #fff;
}

/* navigationbar */
.jitsi-button img {
    width: 25px;
    height: auto;
}

.Avatar:hover {
    cursor: pointer;
}

/*listings */
.listing-author-name {
    height: auto;
    line-height: 1em;
}

.listing-author-name-link {
    overflow: visible;
    white-space: normal;
}

/* message buttons */
a.message-button-link {
    color: #fff;
    background-color: #000;
    border-radius: 0.3125em;
    text-align: center;
    margin: 0;
    padding: 0 1.5em;
    line-height: 1.15;
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
    margin: 0;
}

/* top buttons */
.message-selection {
    display: flex;
    flex-wrap: wrap;
}

.message-selection-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.message-selection-column a {
    margin: 5px;
}

/* bottom wrapper for videochat start  */

.message-form-submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* transaction buttons */
.transaction-button {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.transaction-explainer {
    flex: 5;
    margin-left: 15px;
}

.transaction-explainer h5 {
    margin-top: 0;
}

.transaction-button-wrapper {
    display: flex;
    margin-bottom: 25px;
}

a.transaction-button-link {
    color: #fff;
    background-color: #79d1c3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

a.transaction-button-link:nth-of-type(2) {
    margin-left: 15px;
}

/* profile */
.profile-link {
    text-decoration: underline !important;
}

.profile-link:hover {
    cursor: pointer;
}
