.listing-author-name {
    height: auto;
    line-height: 1em;
}

.listing-author-name-link {
    overflow: visible;
    white-space: normal;
}

/* transaction buttons */
.transaction-button-link {
    background-color: #000;
    color: #fff;
}

a.transaction-button-link {
    color: #fff;
}
