.home-toolbar-button-group-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.with-borders.toggled {
    background-color: #e8e8e8 !important;
    color: #000 !important;
    border-bottom-right-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
}

.toggle-menu {
    background-color: #e8e8e8 !important;
    color: #000 !important;
    border-bottom-right-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
}

.marketplace-lander figure.marketplace-cover-small {
    margin-top: 0;
    margin-bottom: 0;
}

.marketplace-lander .coverimage-fade {
    bottom: 0;
}

// .page-content aside {
//     position: fixed;
// }

.checkbox-option.not-selected {
    display: none;
}
